/* Cormorant Garamond Regular */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-Regular.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-Italic.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Cormorant Garamond Medium */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-Medium.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond Medium Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-MediumItalic.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Cormorant Garamond SemiBold */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond SemiBold Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Cormorant Garamond Bold */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-Bold.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond Bold Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src:  url('@/assets/fonts/CormorantGaramond-BoldItalic.woff2') format('woff2'),
        url('@/assets/fonts/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
