@import "tailwindcss";

@theme {
  --color-primary: #BA9F6A;
  --color-primary-darker: #9e824a;
  --color-sarva-green: #0C3635;

  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}